.popup__error {
  display: block;
  padding: 0px 36px 13px 36px;
  visibility: hidden;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: #ff0000;
  border: none;
}

.popup__error:last-of-type {
  padding: 0px 36px 0 36px;
}
