.popup__button-close {
  border: none;
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  background-image: url(../../../images/popup__button-close.svg);
  background-color: transparent;
  background-size: cover;
  bottom: 0;
  top: calc((100vh - 430px) / 2);
  right: calc((100vw - 480px) / 2);
  cursor: pointer;
  position: fixed;
}

.popup__button-close:hover {
  opacity: 0.6;
  transition: opacity 0.4s ease-in-out;
}

@media screen and (min-width: 469px) and (max-width: 760px) {
  .popup__button-close {
    width: 22px;
    height: 22px;
    top: calc((100vh - 430px) / 2);
    right: calc((100vw - 468px) / 2);
  }
}

@media screen and (min-width: 320px) and (max-width: 468px) {
  .popup__button-close {
    width: 20px;
    height: 20px;
    top: calc((100vh - 282px) / 2);
    right: calc((100vw - 282px) / 2);
  }
}
