.profile__column-button-add {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

@media screen and (min-width: 770px) and (max-width: 1070px) {
  .profile__column-button-add {
    justify-content: center;
  }
}
